<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="vkGroupName" value="cs_vsu"/>
        <add key="vkCountOfPosts" value="20"/>
        <add key="vkToken"
             value=""/>
        <add key="tgToken" value=""/>
        <add key="tgChannelId" value="@cs_vsu"/>
        <add key="tag" value="#вакансии"/>
        <add key="timer" value="120"/>
        <add key="filePath" value="../../../posted.txt"/>
    </appSettings>
</configuration>
