<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="vkGroupName" value="cs_vsu"/>
        <add key="vkCountOfPosts" value="20"/>
        <add key="vkToken"
             value="9a94d50386686ba9a300098c2566cde698a8b6fb91b72da2bc43789068469e7517301fc47b994db9156c1"/>
        <add key="tgToken" value="2079603552:AAEIo1X-QcdyHu_mlu8lxpMCuQe1p_-v1hk"/>
        <add key="tgChannelId" value="@cs_vsu"/>
        <add key="tag" value="#вакансии"/>
        <add key="timer" value="120"/>
        <add key="filePath" value="../../../posted.txt"/>
    </appSettings>
</configuration>